body{
  padding: 25px;
  margin: 0;
}
.title {
	color: #5C6AC4;
}


.header{
  margin: 0;
  display:flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border: 1px solid gray;
}

.left{
  background-color: lightblue;
  width: 250px;
}

.middle{
  margin-left: 100px;
  margin-right: 50px;
  flex:1;
}
.right{
   background-color: lightpink;
  
  width: 200px;
  
}
.vdo-preview{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 20px;
  
}
p{
  margin-top: 0;
  margin-bottom: 0;
}

.photo{
  width: 100%;
  border-radius: 50%;
}

.img-div{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  
}
.text-div{
  display: inline-block;
  width: 230px;
}

.vdo-title{
  margin-top: 0;
  margin-left: 10px;
  width: 250px;
  font-weight: 500;
  font-family: Times New Roman;
  line-height: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}
.vdo-author{
  margin-left: 10px;
  color: rgb(89, 89, 89);
  font-size: 13px;
  margin-bottom: 4px;
 
  
 
}


.vdo-stats{
   margin-left: 10px;
    color: rgb(89, 89, 89);
    font-size: 13px;
    
   
}
